In [47]:
import pandas as pd

from openpyxl import load_workbook

def read_excel_sheet_with_column_names(file_path, sheet_name):
  """
  Reads a specific sheet from an Excel file and returns a pandas DataFrame 
  with columns renamed based on the values in the third row.

  Args:
    file_path: Path to the Excel file.
    sheet_name: Name of the sheet to read.

  Returns:
    pandas DataFrame containing the data from the specified sheet with renamed columns.
  """

  try:
    workbook = load_workbook(file_path,data_only=True)
    sheet = workbook[sheet_name] # Access the sheet by name

    # Get column names from the third row
    column_names = [cell.value for cell in sheet[3]] 

    # Create a list to store the data
    data = []

    # Iterate through the rows in the sheet, skipping the first 3 rows
    for row in sheet.iter_rows(min_row=4, values_only=True): 
      data.append(row)

    # Create a DataFrame from the data
    df = pd.DataFrame(data, columns=column_names) 

    return df

  except KeyError:
    print(f"Sheet '{sheet_name}' not found in the Excel file.")
    return None

# Example usage:

In [ ]:
file_path = 'input.xlsx'
sheet_name = 'ارزیابی' # Replace with the actual sheet name

sheet1 = read_excel_sheet_with_column_names(file_path, sheet_name,4)
sheet2 = read_excel_sheet_with_column_names(file_path, 'کارکنان',4)

In [2]:
sheet1.drop(columns=[None],inplace=True)
sheet2.drop(columns=[None],inplace=True)

In [22]:
sheet1=sheet1[['کارکرد دوره (ساعت)','تعداد ماموریت شهری','تعداد ماموریت جاده ای','تعداد تماس در دوره','تعداد بازدید میدانی در دوره','تعداد فرماندهی حادثه در دوره','رضایت']]

In [23]:
sheet2=sheet2[['شماره پرسنلی','نام','نام خانوادگی','شغل','رتبه','امتیاز رتبه','جایگاه سازمانی','مدرک تحصیلی','منطقه خدمتی','سابقه (سال)']]

In [25]:
df=pd.concat([sheet2,sheet1.loc[list(range(0,len(list(sheet2.index))-1))]],axis=1)
df

,شماره پرسنلی,نام,نام خانوادگی,شغل,رتبه,امتیاز رتبه,جایگاه سازمانی,مدرک تحصیلی,منطقه خدمتی,سابقه (سال),کارکرد دوره (ساعت),تعداد ماموریت شهری,تعداد ماموریت جاده ای,تعداد تماس در دوره,تعداد بازدید میدانی در دوره,تعداد فرماندهی حادثه در دوره,رضایت
0,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,شهری,17,725.0,30.0,30.0,0.0,0.0,0.0,100.0
1,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,جاده ای برخوردار,26,432.0,0.0,28.0,0.0,0.0,0.0,95.0
2,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,شهری,19,432.0,87.0,0.0,0.0,0.0,0.0,100.0
3,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,شهری,19,725.0,23.0,20.0,0.0,0.0,0.0,100.0
4,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,جاده ای برخوردار,13,432.0,95.0,0.0,0.0,0.0,0.0,95.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,7,520.0,0.0,0.0,0.0,10.0,10.0,85.0
890,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,2,310.0,0.0,0.0,0.0,10.0,10.0,100.0
891,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,14,380.0,0.0,0.0,0.0,15.0,15.0,100.0
892,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,1,756.0,0.0,0.0,0.0,10.0,10.0,100.0
893,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
def rezaiat(x):
    if x>=0 and x<=50:
        return 0.6
    if x>50 and x<=60:
        return 1
    if x>60 and x<=70:
        return 1.6
    if x>70 and x<=80:
        return 2.5
    if x>80 and x<=90:
        return 3.6
    else:
        return 5


x = df.copy()
mapping = {'عملیاتی': 3, 'دیسپچ': 2, 'ستاد': 1}
x['جایگاه سازمانی'] = x['جایگاه سازمانی'].map(mapping)
mapping={'ارشد مرتبط':3 , 'کارشناسی مرتبط': 2.5 , 'کاردانی': 2 , 'دیپلم':1.5 , 'زیر دیپلم': 0.5}
x['مدرک تحصیلی']=x['مدرک تحصیلی'].map(mapping)
x['سابقه (سال)']=x['سابقه (سال)'].astype(float)*0.25
x['کارکرد دوره (ساعت)']=x['کارکرد دوره (ساعت)'].astype(float)*(0.1/8)
mapping={'شهری':1,'جاده ای برخوردار':2 , 'جاده ای غیر برخوردار':4}
x['منطقه خدمتی']=x['منطقه خدمتی'].map(mapping)
x['رضایت']=x['رضایت'].transform(rezaiat)
x['عملکرد ماهیانه']=x['تعداد ماموریت جاده ای']*(0.1/3)+x['تعداد ماموریت شهری']*(0.1/7)+x['تعداد بازدید میدانی در دوره']*1+x['تعداد تماس در دوره']*1
df['امتیاز نهایی']=(x['جایگاه سازمانی']+x['مدرک تحصیلی']+x['سابقه (سال)']+x['کارکرد دوره (ساعت)']+x['منطقه خدمتی']+x['رضایت'])*df['امتیاز رتبه']*x['عملکرد ماهیانه']
df

,شماره پرسنلی,نام,نام خانوادگی,شغل,رتبه,امتیاز رتبه,جایگاه سازمانی,مدرک تحصیلی,منطقه خدمتی,سابقه (سال),کارکرد دوره (ساعت),تعداد ماموریت شهری,تعداد ماموریت جاده ای,تعداد تماس در دوره,تعداد بازدید میدانی در دوره,تعداد فرماندهی حادثه در دوره,رضایت,امتیاز نهایی
0,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,شهری,17,725.0,30.0,30.0,0.0,0.0,0.0,100.0,35.446429
1,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,جاده ای برخوردار,26,432.0,0.0,28.0,0.0,0.0,0.0,95.0,22.773333
2,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,شهری,19,432.0,87.0,0.0,0.0,0.0,0.0,100.0,26.907857
3,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,شهری,19,725.0,23.0,20.0,0.0,0.0,0.0,100.0,25.191964
4,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,جاده ای برخوردار,13,432.0,95.0,0.0,0.0,0.0,0.0,95.0,28.703571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,7,520.0,0.0,0.0,0.0,10.0,10.0,85.0,163.500000
890,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,2,310.0,0.0,0.0,0.0,10.0,10.0,100.0,138.750000
891,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,14,380.0,0.0,0.0,0.0,15.0,15.0,100.0,266.250000
892,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,1,756.0,0.0,0.0,0.0,10.0,10.0,100.0,192.000000
893,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:

sheet3 = read_excel_sheet_with_column_names(file_path, 'تنظیمات دوره')
sheet3.index=sheet3['تعداد روز ماه'].to_list()
sheet3.drop(columns=['تعداد روز ماه'],inplace=True)
sheet3=sheet3[30].loc['مبلغ بودجه']
x['امتیاز نهایی']=df['امتیاز نهایی']
y=x[x['جایگاه سازمانی']==2]
x['2']=y['امتیاز نهایی']
y=x[x['جایگاه سازمانی']==3]
x['3']=y['امتیاز نهایی']
bodge=(x['3'].sum()+x['2'].sum())/sheet3
x.drop(columns=['2','3'],inplace=True)
df['مبلغ کارانه']=df['امتیاز نهایی']*bodge

,شماره پرسنلی,نام,نام خانوادگی,شغل,رتبه,امتیاز رتبه,جایگاه سازمانی,مدرک تحصیلی,منطقه خدمتی,سابقه (سال),کارکرد دوره (ساعت),تعداد ماموریت شهری,تعداد ماموریت جاده ای,تعداد تماس در دوره,تعداد بازدید میدانی در دوره,تعداد فرماندهی حادثه در دوره,رضایت,امتیاز نهایی,مبلغ کارانه
0,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,شهری,17,725.0,30.0,30.0,0.0,0.0,0.0,100.0,35.446429,14.287042
1,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,جاده ای برخوردار,26,432.0,0.0,28.0,0.0,0.0,0.0,95.0,22.773333,9.179023
2,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,شهری,19,432.0,87.0,0.0,0.0,0.0,0.0,100.0,26.907857,10.845485
3,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,شهری,19,725.0,23.0,20.0,0.0,0.0,0.0,100.0,25.191964,10.153877
4,None,None,None,اسلام آباد,None,1,عملیاتی,کارشناسی مرتبط,جاده ای برخوردار,13,432.0,95.0,0.0,0.0,0.0,0.0,95.0,28.703571,11.569265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,7,520.0,0.0,0.0,0.0,10.0,10.0,85.0,163.500000,65.900333
890,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,2,310.0,0.0,0.0,0.0,10.0,10.0,100.0,138.750000,55.924594
891,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,14,380.0,0.0,0.0,0.0,15.0,15.0,100.0,266.250000,107.314762
892,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,1,756.0,0.0,0.0,0.0,10.0,10.0,100.0,192.000000,77.387546
893,None,None,None,کرمانشاه,None,1,ستاد,کارشناسی مرتبط,شهری,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
df.to_excel('output.xlsx', index=False, engine='openpyxl',index_label=True )